snippet ife
if err != nil {
	return ${1:err}
}
endsnippet

snippet tf
func Test$1_$2(t *testing.T) {
	setup(t)
	defer teardown(t)

	$0
}
endsnippet

snippet ff "print" b
fmt.Printf("%+v\n", $0)
endsnippet
